@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
@import './colors';
@import './animate';


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: $fifth;
   
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

h1.company-name {
    margin-bottom: 0.5em;
    font-size: 3rem;
    color: $first;
}

.section-title {
    position: relative;
    margin: 0 auto 2em;
    font-size: 3.2rem;
    color: $first;
    font-weight: 200;
    width: fit-content;

    &::before {
        position: absolute;
        bottom: -0.1em;
        left: 0;
        width: 40px;
        height: 2px;
        background-color: $first;
        content: '';
    }

    span {
        font-weight: 900;
    }
}

// header start

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vH;
    position: relative;
    overflow: hidden;

    &__text {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        grid-row: 2/3;
        grid-column: 1/3;  
        padding: 2em;


        p {
            font-weight: 200;
            color: $myWhite;
        }
    }

    &__img {
        grid-row: 1/2;
        grid-column: 1/3;
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url('../img/headerMobile.jpg');
        background-size: cover;
        background-position: center;
    }

    &__shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4)
    }

    &__arrow {
        display: none;
    }

    &__bg-icon-one,
    &__bg-icon-two {
        position: absolute;
        opacity: .05;
        z-index: -3;
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    }

    &__bg-icon-one {
        bottom: 2em;
        right: -3em;
        width: 25%;
        animation: rotate-right 55s infinite linear;
    }

    &__bg-icon-two {
        display: none
    }
}


.hamburger {
    position: absolute;
    top: 3em;
    left: 1em;
    transform: translateY(-50%);
    z-index: 5;

    &-inner, &-inner::before, &-inner::after {
        background-color: $myWhite;
        z-index: 4;
    }
    
}
.nav {
    &-mobile {
        position: fixed;
        height: 100vH;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $myWhite;
        transform: translateX(-102%);
        transition: transform .3s;
        z-index: 4;
        
        &--active {
            transform: translateX(0);
        }
    }
    
        &-desktop {
        display: none;
    }

    &__link {
        position: relative;
        display: inline-block;
        margin: 0.5em;
        padding: 0.5em;
        font-size: 2.3rem;
        color: $fourth;
        text-transform: uppercase;
        text-decoration: none;
        transition: color .3s;

        &:hover {
            color: $first;
        }
    }
}

// header end

// main starts

    //cards

.cards {
    background-color: $fourth;
    overflow: hidden;

    &__box {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 2em;
        padding: 6em 2em;
    }

    &__card {
        position: relative;
        display: grid;
        justify-items: center;
        padding: 3em;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 8px;
        background-color: $fifth;
        transition: transform .6s, border .3s;
        z-index: 4;
        color: $myWhite;

        &:hover {
            transform: scale(.95);
            border: 1px solid $second;
            z-index: 1;
        }

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border: 1px solid $second;
            opacity: 0;
        }

        &:hover::before {
            animation: pulse 1s;
        }

        img {
            margin-bottom: 1em;
            width: 60px;
        }

        h3 {
            margin-bottom: 0.6em;
            text-transform: uppercase;
        }

        &--one {
            grid-row: 1/2;
            grid-column: 1/-1;
        }

        &--two {
            grid-row: 2/3;
            grid-column: 1/-1;
        }

        &--three {
            grid-row: 3/4;
            grid-column: 1/-1;
        }
    }
}

    // info

.info {
    position: relative;
    display: grid;
    grid-template-areas:
    "title title title"
    "box box box"
    "box box box";
    padding: 6em 2em;

    &__title {
        grid-area: title;
    }

    &__boxes {
        grid-area: box;
    }

    &__box-img {
        width: 100%;
        object-fit: cover;
        filter: brightness(.65)
    }

    &__box-title {
        margin: 0.3em 0;
        font-size: 2.6rem;
        color: $first;
        font-weight: 200;
    }

    &__box-text {
        margin-bottom: 0.5em;
        color: $myWhiteDark;
    }

    &__box-link {
        display: block;
        margin-bottom: 2em;
        font-weight: bold;
        color: $first;
        text-decoration: none;
        text-align: right;
        transition: color .3s;
        padding: 0.3em;

        &:hover {
            color: $firstDark;
        }
    }

    &__bg-icon {
        display: none;
    }
}

// main end

@import './small';
@import './medium';
@import './large';