$main-color: #485922;
$secondary-color: #798C35;
$pure-white: #fff;
$light-white: #F2F2F2;
$dark: #242614;
$green-color: #B4BF5E;
$green-color-hover: #88943d;

$light-green-gradient: linear-gradient(45deg, rgba(72, 89, 34, 0.75), rgba(180, 191, 94, 0.75));
$green-gradient: linear-gradient(45deg, rgba(44, 56, 19, 0.75), rgba(136, 155, 67, 0.75));
$green-gradient-solid: linear-gradient(45deg, rgba(180, 191, 94, 0.85), rgba(72, 89, 34, 0.85));
$light-green-gradient-solid: radial-gradient(circle at top right, rgb(72, 89, 34) 0%, rgb(180, 191, 94) 100%);



// $main-color: #1755e7;
// $secondary-color: #164dcc;
// $pure-white: #fff;
// $light-white: #eee;
// $dark: #2e2e2e;
// $green-color: #00ffaa;
// $green-color-hover: #0fe29c;

// $light-blue-gradient: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75));
// $blue-gradient: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75));
// $purple-gradient: linear-gradient(45deg, rgba(190, 10, 214, 0.75), rgba(68, 0, 255, 0.75));
// $blue-gradient-solid: linear-gradient(45deg, rgb(20, 105, 241), rgb(42, 10, 184));
// $light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);