/* Color Theme Swatches in Hex */
$myWhite: #f2f2f2;
$myWhite2:rgb(210, 202, 202);
$opacity: #ffffff00;
$myBlack: #140202;
$first: #F25E7A;
$first2:rgb(204, 45, 74);
$second: #5080BF;
$third: #84A9D9;
$fourth: #F2D680;
$fifth: #BFA98E;
