$main-color: #0091C9;
$second-color: #45B8E6;
$third-color: #00A1E0;
$fourth-color: #1D4E61;
$fifth-color: #007CAD;
$my-white: #eee;
$my-black:#2e2e2e;

$gradientOne: linear-gradient(45deg, rgba(0,145,201,1) 10%, rgba(69,184,230,1) 75%);
$gradientTwo: linear-gradient(45deg, rgba(0,145,201,1) 10%, rgba(29,78,97,1) 75%);
$gradientThree: linear-gradient(45deg, rgba(0,145,201,1) 10%, rgba(0,124,173,1) 75%);