.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.white-block {
    position: absolute;
    height: 45px;
    width: 60%;
    z-index: 2;
    background-color: $my-white;
    display: none;
    
    &-left {
        bottom: -2px;
        left: -50px;
        transform: skew(45deg);
    }
    
    &-right {
        top: 0;
        right: -50px;
        transform: skew(45deg);
    }
}

@media screen and (min-width: 768px) {
    .white-block {
        display: block;
    } 
}

.btn-special-animation {
    position: relative;
    transition: background-color .3s;
    overflow: hidden;
    z-index: 0;

    &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .3s;
        z-index: -1;
    }
    
    &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }
}


.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: .55);
    z-index: 1;
}

.section-heading {
    position: relative;
    margin-bottom: 2em;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;
    color: $third-color;
    letter-spacing: 2px;
}

.section-padding {
    padding: 6em 2em;
}

@media screen and (min-width: 768px) {
    .section-heading {
        font-size: 3.4rem;
    }

    .section-padding {
        padding: 8em 2em;
    }
}

@media screen and (min-width: 992px) {
    .section-heading {
        font-size: 4rem;
    }

    .section-padding {
        padding: 8em 2em;
        margin-top: 1em;
    }
}