@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
  }
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
  }
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-right {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-left {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate-left {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #161F30;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

h1.company-name {
  margin-bottom: 0.5em;
  font-size: 3rem;
  color: #716e23;
}

.section-title {
  position: relative;
  margin: 0 auto 2em;
  font-size: 3.2rem;
  color: #716e23;
  font-weight: 200;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.section-title::before {
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #716e23;
  content: '';
}

.section-title span {
  font-weight: 900;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  height: 100vH;
  position: relative;
  overflow: hidden;
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 2em;
}

.header__text p {
  font-weight: 200;
  color: #f2f2f2;
}

.header__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/headerMobile.jpg");
  background-size: cover;
  background-position: center;
}

.header__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__arrow {
  display: none;
}

.header__bg-icon-one, .header__bg-icon-two {
  position: absolute;
  opacity: .05;
  z-index: -3;
  -webkit-filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
          filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.header__bg-icon-one {
  bottom: 2em;
  right: -3em;
  width: 25%;
  -webkit-animation: rotate-right 55s infinite linear;
          animation: rotate-right 55s infinite linear;
}

.header__bg-icon-two {
  display: none;
}

.hamburger {
  position: absolute;
  top: 3em;
  left: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #f2f2f2;
  z-index: 4;
}

.nav-mobile {
  position: fixed;
  height: 100vH;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
  -webkit-transform: translateX(-102%);
          transform: translateX(-102%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  z-index: 4;
}

.nav-mobile--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-desktop {
  display: none;
}

.nav__link {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 2.3rem;
  color: #173540;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.nav__link:hover {
  color: #716e23;
}

.cards {
  background-color: #173540;
  overflow: hidden;
}

.cards__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  gap: 2em;
  padding: 6em 2em;
}

.cards__card {
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 3em;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #161F30;
  -webkit-transition: border .3s, -webkit-transform .6s;
  transition: border .3s, -webkit-transform .6s;
  transition: transform .6s, border .3s;
  transition: transform .6s, border .3s, -webkit-transform .6s;
  z-index: 4;
  color: #f2f2f2;
}

.cards__card:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  border: 1px solid #217373;
  z-index: 1;
}

.cards__card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #217373;
  opacity: 0;
}

.cards__card:hover::before {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

.cards__card img {
  margin-bottom: 1em;
  width: 60px;
}

.cards__card h3 {
  margin-bottom: 0.6em;
  text-transform: uppercase;
}

.cards__card--one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  grid-column: 1/-1;
}

.cards__card--two {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: 1/-1;
}

.cards__card--three {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  grid-column: 1/-1;
}

.info {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title title title" "box box box" "box box box";
  padding: 6em 2em;
}

.info__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
}

.info__boxes {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: box;
}

.info__box-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.65);
          filter: brightness(0.65);
}

.info__box-title {
  margin: 0.3em 0;
  font-size: 2.6rem;
  color: #716e23;
  font-weight: 200;
}

.info__box-text {
  margin-bottom: 0.5em;
  color: #d2caca;
}

.info__box-link {
  display: block;
  margin-bottom: 2em;
  font-weight: bold;
  color: #716e23;
  text-decoration: none;
  text-align: right;
  -webkit-transition: color .3s;
  transition: color .3s;
  padding: 0.3em;
}

.info__box-link:hover {
  color: #44420b;
}

.info__bg-icon {
  display: none;
}

.brands {
  padding: 6em 2em;
  background-color: #173540;
}

.brands__box {
  margin: 1em 0;
  padding: 2em 1em;
  text-align: center;
  border: 1px solid transparent;
  color: #d2caca;
  border-radius: 8px;
  background-color: #161F30;
  cursor: pointer;
  -webkit-transition: border .3s, -webkit-transform .3s;
  transition: border .3s, -webkit-transform .3s;
  transition: border .3s, transform .3s;
  transition: border .3s, transform .3s, -webkit-transform .3s;
}

.brands__box:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  border: 1px solid #217373;
}

.brands__item {
  margin: 1em 0;
}

.brands .fas {
  font-size: 3rem;
  padding: 0.3em 0;
  color: #716e23;
}

.brands__item-name {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 1.8rem;
  color: #716e23;
  font-size: 1.3rem;
}

@media screen and (min-width: 576px) {
  .info {
        grid-template-areas: "title box" "title box" "title box";
    padding: 10em 2em;
  }
  .info__box {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .info__title {
    padding: 0 1em;
  }
  .info__box-img, .info__box-text {
    max-width: 500px;
  }
  .info__bg-icon {
    position: absolute;
    display: block;
    opacity: .05;
    z-index: -3;
    -webkit-filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
            filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  }
  .info__bg-icon--one {
    top: 14%;
    width: 20%;
    -webkit-animation: rotate-right 160s infinite linear;
            animation: rotate-right 160s infinite linear;
  }
  .info__bg-icon--two {
    bottom: 10%;
    left: 10%;
    width: 20%;
    -webkit-animation: rotate-left 140s infinite linear;
            animation: rotate-left 140s infinite linear;
  }
  .info__bg-icon--three {
    top: 26%;
    left: 32%;
    width: 22%;
    -webkit-animation: rotate-left 160s infinite linear;
            animation: rotate-left 160s infinite linear;
  }
  .info__bg-icon--four {
    top: 55%;
    left: -10%;
    width: 15%;
    -webkit-animation: rotate-right 140s infinite linear;
            animation: rotate-right 140s infinite linear;
  }
}

@media screen and (min-width: 768px) {
  .cards__box {
    padding: 10em 2em;
  }
  .cards__card--one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .cards__card--two {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
  .cards__card--three {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
  }
  .brands {
    padding: 8em 2em;
  }
  .brands__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brands__item {
    margin: 0 1em;
  }
  .brands__item-name {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .section-title {
    font-size: 4.8rem;
  }
  .section-title::before {
    height: 4px;
  }
  h1.company-name {
    font-size: 6em;
  }
  .header {
    -ms-grid-rows: auto (1fr)[2];
        grid-template-rows: auto repeat(2, 1fr);
  }
  .header__text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .header__text p {
    font-size: 1.8rem;
  }
  .header__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .header__arrow {
    display: block;
    position: absolute;
    bottom: 3em;
    left: 48%;
    padding: 2em;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border: 1px solid #f2f2f2;
    border-radius: 50%;
  }
  .header__arrow::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
  }
  .header__arrow-icon {
    width: 50px;
  }
  .header__bg-icon-one {
    left: 6em;
    bottom: 8em;
    width: 10%;
  }
  .header__bg-icon-two {
    display: block;
    left: 35%;
    top: 10em;
    width: 5%;
    -webkit-animation: rotate-left 55s infinite linear;
            animation: rotate-left 55s infinite linear;
  }
  .nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .nav-desktop {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
  }
  .nav__link {
    color: #f2f2f2;
  }
  .nav__link::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #716e23;
    opacity: 0;
  }
  .nav__link:hover::before {
    -webkit-animation: pulse 1s;
            animation: pulse 1s;
  }
  .hamburger {
    display: none;
  }
  .brands__item-name {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .header__text p {
    font-size: 2.2rem;
  }
}
/*# sourceMappingURL=style.css.map */